{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
 Sign Up
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card border-warning">
                <div class="card-header bg-transparent border-warning">
                    <h4 class="text-center text-uppercase pt-2"> Create An Account </h4>
                </div>
                <div class="card-body">
                    <form action="" method="POST" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-grid gap-2 pt-2">
                            <button type="submit" class="btn btn-warning"> Sign Up </button>
                        </div>
                        <div class="mt-3 text-center">
                            <span> Already have an account? </span>
                            <a class="btn-link" href="/sign-in/?next={{request.GET.next}}"> Sign In </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{{ form }}